<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p class="boxTitle"style="text-align:center">情感分析</p>
    <div style="width:100px; height:180px;">
        <p>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
        </p>
        <p>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
        </p>

    </div>
</div>
</body>
</html>